.DS_Store
.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

logs/
plots/
examples/
analysis/

data/cwfis_fwi/
data/fire_activity/
data/fire_danger_bcws/
data/fire_danger_verification/
data/hrdps_continental/
data/hrdps_west/
data/lightning_obs/
data/lightning_obs_test/
data/test/
data/test_cwfis_fwi.tif
